.classification-navbar-container {
  width: 100%;
  background-color: var(--color-hard-palette-2);
  display: flex;
}

.classification-navbar-container > button {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border: none;
  padding: 1em;
}

.classification-navbar-container > button:hover {
  background-color: var(--color-hard);
  cursor: pointer;  
}

