/* ------------------------------------ */
footer {
  width: 100%;

  display: flex;
  flex-direction: column;
  color: var(--color-white);
}

footer > div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3em;
  
  background-color: var(--color-black);
  padding: 1em;
}
/* ------------------------------------ */

/* start FooterSection component */
.footer-section {
  max-width: 30em;
  padding: 1em;
}
/* end FooterSection component */

/* start CopyrightSection component */
.copyright-section-container {
  background: #000;
  padding: 1em 1em 1em 3em;
}
/* end CopyrightSection component */

/* start InformationReference component */
.information-reference-container {
  display: flex; 
  align-items: center;
  padding-bottom: 0.4em;
}

.information-reference-container > div {
  padding-right: 1em;
}
/* end InformationReference component */

/* start SocialMediaSection component */
.icons-social-media {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  padding-top: 1em;
}
/* end SocialMediaSection component */

/* start FooterSectionReference component */
.footer-third-section {
  max-width: 30em;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.footer-section-location-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
/* end FooterSectionReference component */