.header-container {
  background-color: #1E5128;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-header-image {
  width: 3em;
  height: 4em;
}

.title-container {
  padding: 1.5em 1.5em 1.5em 2em;
  gap: 1em;
  display: flex;
  align-items: center;
}

.icon-user-container {
  padding-right: 2em;
}