@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  --color-level-one: #DAD7CD;
  --color-level-two: #A3B18A;
  --color-level-three: #588157;
  --color-level-four: #3A5A40;
  --color-level-five: #344E41;
  --color-level-six: #132A13;
}

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.6em;
}

.app-container { 
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto
}