* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.6em;
}

.app-container { 
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto
} 